@charset "UTF-8";

/* フォントの導入 -----------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

/* コンテンツ幅以下可変レイアウト -----------------------------------------*/
html {
    font-size: calc(10 * 100vw / 390);
    /* 390はSPデザインカンプの幅 */
}

@media (min-width:768px) {
    html {
        font-size: calc(10 * 100vw / 1200);
        /* 1200はPCカンプのコンテンツ幅 */
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 62.5%;
    }
}

/* スムーススクロール -----------------------------------------*/
html {
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
}

/* 変数 -----------------------------------------*/
:root {
    --pad-lr-sp: 1.6rem;
}

/* 全体的な設定 -----------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Serif JP", serif;
    font-size: 1.6rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.75;
    background-color: #fff;
    color: #000;
}

/* boostrapのcssリセット */
p,
dl,
dd,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

span,
th,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: normal;
}

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
    object-fit: cover;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

/* 共通クラス -----------------------------------------*/
.section-title--en {
    font-family: "EB Garamond", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    letter-spacing: 0.05em;
    line-height: 1;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .section-title--en {
        font-size: 4.5rem;
        margin-bottom: 1.7rem;
    }
}

.section-title--jp {
    font-family: "Noto Serif JP", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.6rem;
    letter-spacing: 0.05em;
    margin-bottom: 3.8rem;
}

@media (min-width: 768px) {
    .section-title--jp {
        font-size: 2rem;
        margin-bottom: 4.1rem;
    }
}

/* ヘッダーここから -----------------------------------------*/
.header {
    width: 100%;
    height: 45rem;
    background-image: url(/assets/image/main_visual_sp.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 15.6rem;
}

@media (min-width:768px) {
    .header {
        height: 72rem;
        background-image: url(/assets/image/main_visual_pc.jpg);
        margin-bottom: 4.8rem;
    }
}

.header__container {
    max-width: 39rem;
    margin: 0 auto;
    padding: 2.4rem 2.3rem;
}

@media (min-width:768px) {
    .header__container {
        max-width: 120rem;
        padding: 3.2rem 7.3rem;
    }
}

.header__box--logo {
    display: flex;
    justify-content: center;
}

.header__logo {
    width: 14.3rem;
}

@media (min-width:768px) {
    .header__logo {
        display: block;
        width: 16.6rem;
    }
}

.header__box--title {
    display: flex;
    flex-direction: column;
    margin-top: 36.4rem;
}

@media (min-width:768px) {
    .header__box--title {
        margin-top: 20.3rem;
    }
}

.header__title-main {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4.1rem;
    letter-spacing: 0.3em;
    line-height: 1.244;
    margin-bottom: 1rem;
}

@media (min-width:768px) {
    .header__title-main {
        font-size: 5rem;
        line-height: 1.36;
        margin-bottom: 1rem;
    }
}

.header__title-one-row {
    display: block;
}

.header__title-sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 0.3em;
}

@media (min-width:768px) {
    .header__title-sub {
        font-size: 2.5rem;
    }
}

/* ヘッダーここまで -----------------------------------------*/


/* 価格とボタン2個（共用）ここから -----------------------------------------*/
.price {
    margin-bottom: 5rem;
}

@media (min-width: 768px) {
    .price {
        margin-bottom: 4.8rem;
    }

}

.price__container {
    max-width: 39rem;
    margin: 0 auto;
    padding: 0 var(--pad-lr-sp);
}

@media (min-width: 768px) {
    .price__container {
        max-width: 120rem;
        padding: 0 10rem;
    }
}

.price__box {
    width: 100%;
    margin-bottom: 5rem;
    padding: 2.1rem 10rem 3.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0F4FF;
    text-align: center;
}

@media (min-width: 768px) {
    .price__box {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 4.7rem;
        padding: 4rem 4.8rem;
        text-align: left;
    }
}

.price__title--main {
    font-family: "Noto Serif JP", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8rem;
    letter-spacing: 0.1em;
    line-height: 1.4444;
    margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
    .price__title--main {
        font-size: 2.4rem;
        line-height: 1.4583;
        margin-bottom: 0.8rem;
    }
}

.price__title--sub {
    font-size: 1.4rem;
    letter-spacing: 0.1em;
    line-height: 1.4285;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .price__title--sub {
        font-size: 1.6rem;
        line-height: 1.4375;
        margin-bottom: 0;
    }

}

.price__box--btn {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

@media (min-width: 768px) {
    .price__box--btn {
        flex-direction: row;
        row-gap: 0;
        column-gap: 3.2rem;
    }
}

/* オンラインショップへボタン */
.price__btn--shop {
    display: inline-block;
    width: 30rem;
    height: 5.8rem;
    line-height: 5.8rem;
    /* 垂直に中央揃えする為にheightと同値にする */
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    background-color: #46C4DB;
    border-radius: 3.4rem;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

@media (min-width: 768px) {
    .price__btn--shop {
        margin-top: 0;
    }
}

/* オンラインショップへボタンのホバー効果 */
.price__btn--shop:hover {
    color: #46C4DB;
    background-color: #fff;
    border: 2px solid #46C4DB;
}

/* 購入するボタン */
.price__btn--purchase {
    display: inline-block;
    width: 30rem;
    height: 5.8rem;
    line-height: 5.8rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    background-color: #5DD5AB;
    border-radius: 3.4rem;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

@media (min-width: 768px) {
    .price__btn--purchase {
        margin-top: 0;
    }
}

/* 購入するボタンのホバー効果 */
.price__btn--purchase:hover {
    color: #5DD5AB;
    background-color: #fff;
    border: 2px solid #5DD5AB;
}

/* お肌を美しく保つここから -----------------------------------------*/
.beautiful-skin {
    width: 100%;
    height: 68rem;
    background-image: url(/assets/image/photo_keep_sp.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 5.5rem;
}

@media (min-width: 768px) {
    .beautiful-skin {
        height: 55rem;
        background-image: url(/assets/image/photo_keep_pc.jpg);
        margin-bottom: 8.7rem;
    }
}

.beautiful-skin__container {
    max-width: 39rem;
    margin: 0 auto;
    padding: 5rem var(--pad-lr-sp);

}

@media (min-width: 768px) {
    .beautiful-skin__container {
        max-width: 120rem;
        padding: 12.9rem 10rem;
        display: flex;
        justify-content: flex-end;
    }
}

.beautiful-skin__group {
    text-align: center;
    color: #fff;
}

@media (min-width: 768px) {
    .beautiful-skin__group {
        width: 42.1rem;
        text-align: left;
    }
}

.beautiful-skin__titile--en {
    font-family: "EB Garamond", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
    .beautiful-skin__titile--en {
        font-size: 3.8rem;
        margin-bottom: 1.4rem;
    }
}

.beautiful-skin__titile--jp {
    font-family: "EB Garamond", serif;
    font-weight: 600;
    font-style: normal;
    display: block;
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
    .beautiful-skin__titile--jp {
        margin-bottom: 2rem;
    }

}

.beautiful-skin__text {
    font-size: 1.4rem;
    line-height: 2.28;
    text-align: left;
}

/* お客様の声ここから -----------------------------------------*/
.voice {
    text-align: center;
    margin-bottom: 7.5rem;
}

@media (min-width: 768px) {
    .voice {
        margin-bottom: 11.3rem;
    }
}

.voice__container {
    position: relative;
    max-width: 39rem;
    margin: 0 auto;
    padding: 0 var(--pad-lr-sp);
}

@media (min-width: 768px) {
    .voice__container {
        max-width: 120rem;
        padding: 0;
    }
}

/* スライダーの設定ここから --------------------*/
.swiper__container {
    width: 28rem;
    margin-inline: auto;
    --swiper-theme-color: #00AFBF;
    --swiper-pagination-bullet-size: 9px;
}

@media (min-width: 768px) {
    .swiper__container {
        width: 98rem;
    }
}

.swiper-slide {
    margin: 0 auto;
    display: flex;
    padding: 3rem 1.5rem 2.4rem;
    background-color: #DBF7F9;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .swiper-slide {
        padding: 4.1rem 1.6rem 3.7rem;
    }
}

/* デフォルトの矢印を消す */
.swiper-button-next:after {
    content: "";
}

.swiper-button-prev:after {
    content: "";
}

/* 次への矢印 */
.swiper-button-next {
    position: absolute;
    width: 3.2rem;
    height: 3.2rem;
    background-image: url(../image/circle_arrow_right.svg);
    background-size: cover;
    background-repeat: no-repeat;
    top: 27.5rem;
    left: 34.2rem;
    z-index: 100;
}

@media (min-width: 768px) {
    .swiper-button-next {
        width: 4.8rem;
        height: 4.8rem;
        top: 32rem;
        left: 113rem;
    }
}

/* 前への矢印 */
.swiper-button-prev {
    position: absolute;
    width: 3.2rem;
    height: 3.2rem;
    background-image: url(../image/circle_arrow_left.svg);
    background-size: cover;
    background-repeat: no-repeat;
    top: 27.5rem;
    left: 1.6rem;
    z-index: 99;
}

@media (min-width: 768px) {
    .swiper-button-prev {
        width: 4.8rem;
        height: 4.8rem;
        top: 32rem;
        left: 2.2rem;
    }
}

/* ページネーション */
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -3.3rem;
}

@media (min-width: 768px) {
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: -4.2rem;
    }
}

/* スライダーの中身（カード） --------------------*/
.voice__picture {
    width: 8rem;
    height: 8rem;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .voice__picture {
        width: 10rem;
        height: 10rem;
        margin-bottom: 0.7em;
    }
}

.voice__name {
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
}

@media (min-width: 768px) {
    .voice__name {
        font-size: 1.5rem;
        margin-bottom: 1.4rem;
    }
}

.voice__text {
    font-size: 1.4rem;
    line-height: 2;
    text-align: left;
}

@media (min-width: 768px) {
    .voice__text {
        font-size: 1.6rem;
        line-height: 1.75;
    }
}

/* 質問ここから -----------------------------------------*/
.question {
    margin-bottom: 5rem;
    text-align: center;
    background: linear-gradient(to right, #F4FFE8, #C6F0FE);
}

@media (min-width: 768px) {
    .question {
        margin-bottom: 4.5rem;
    }
}

.question__container {
    max-width: 39rem;
    margin: 0 auto;
    padding: 3.6rem var(--pad-lr-sp);
}

@media (min-width: 768px) {
    .question__container {
        max-width: 120rem;
        padding: 4.6rem 30rem 4.5rem;
    }
}

/* アコーディオンの設定ここから */
.accordion__box {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

@media (min-width: 768px) {
    .accordion__box {
        row-gap: 2.4rem;
    }
}

.accordion {
    background-color: #fff;
    text-align: left;
}

.accordion__question {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1.8rem var(--pad-lr-sp) 1.3rem;
    cursor: pointer;
}

@media (min-width: 768px) {
    .accordion__question {
        padding: 1.8rem 2.4rem;
    }
}

.accordion__toggle-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 1.2rem 0;
    display: flex;
    align-items: center;
}

.accordion__label {
    font-family: "EB Garamond", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.6rem;
    margin-right: 1.2rem;
    line-height: 1.86666;
}

@media (min-width: 768px) {
    .accordion__label {
        font-size: 1.8rem;
    }
}

.accordion__text {
    font-family: "Noto Serif JP", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.86666;
}

@media (min-width: 768px) {
    .accordion__text {
        width: 51rem;
    }
}

.toggle-icon {
    width: 1.16rem;
    transition: transform 0.3s ease;
}

.accordion__toggle-btn.active .toggle-icon {
    transform: rotate(180deg);
}

.accordion__answer {
    display: none;
    /* アコーディオンの中身を非表示 */
}

.accordion__answer-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 var(--pad-lr-sp) 3rem;
}

@media (min-width: 768px) {
    .accordion__answer-box {
        padding: 0 2.4rem 2.4rem;
    }
}

/* 質問ここまで -----------------------------------------*/

/* TOPへ戻るここから------------------------------------*/
.btn__container {
    max-width: 39rem;
    margin: 0  auto;
    padding: 0 1.6rem;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    left: 0;
    bottom: 5rem;
    z-index: 1000;
}

@media (min-width: 768px) {
    .btn__container {
        max-width: 120rem;
        padding: 0 15rem;
    }
}

.btn__back-to-top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    color: #fff;
    background-color: #0071CE;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease, background-color 0.5s ease, border 0.3s ease;
}

@media (min-width: 768px) {
    .btn__back-to-top {
        right: 15rem;
    }
}

/* ボタン表示 */
.btn__back-to-top.show {
    opacity: 1;
}

.btn__back-to-top:hover {
    color: #0071CE;
    background-color: #fff;
    border: 2px solid #0071CE;
}

.icon-middle {
    font-size: 3rem;
    line-height: 1;
    /* アイコンの上下余白をリセット */
    display: inline-block;
    vertical-align: middle;
}
/* TOPへ戻るここまで------------------------------------*/

/* フッターここから------------------------------------*/
.footer {
    background-color: #0071CE;
    color: #fff;
}

.footer__container {
    max-width: 39rem;
    height: 16.5rem;
    margin: 0 auto;
    padding: 2.4rem 2.9rem;
}

@media (min-width: 768px) {
    .footer__container {
        max-width: 120rem;
        height: 10.4rem;
        padding: 4rem 3.2rem;
    }
}

.footer__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.6rem;
}

@media (min-width: 768px) {
    .footer__box {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: 3.2rem;
    }
}

.footer__logo {
    width: 16.254rem;
}

@media (min-width: 768px) {
    .footer__logo {
        width: 19rem;
    }
}

.footer__navi {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
}

@media (min-width: 768px) {
    .footer__navi {
        justify-content: center;
        column-gap: 3.2rem;
        padding-left: 5rem;
    }
}

.footer__navi-item {
    font-size: 1.2rem;
    cursor: pointer;
}

@media (min-width: 768px) {
    .footer__navi-item {
        font-size: 1.4rem;
    }
}

.footer__copy {
    display: block;
    font-size: 1.1rem;
}

@media (min-width: 768px) {
    .footer__copy {
        font-size: 1.2rem;
    }
}

/* フッターここまで------------------------------------*/
